<div class="m-4">
    <header>
        <h1>Short biography of <b>{{name}}</b></h1>
        <hr class="m-4">
        <div class="mb-3">Birthday - <i>{{birthdate}}</i></div>
        <address><div class="mb-3">Birthplace - {{birthplace}}</div></address>
        <div class="mb-3">Deathdate - <i>{{deathdate}}</i></div>
        <address><div class="mb-3">Deathplace - {{deathplace}}</div></address>
        <div class="mb-3">Nationality - <i>{{nationality}}</i></div>
        <div class="mb-3">Occupation - <i>{{occupation}}</i></div>
        <div>
            Known for:
            {{#each known_for}}
            <ul>
                <li>{{this}}</li>
            </ul>
            {{/each}}
    </header>

    <body>
        <div><h2>Education</h2></div>
        <hr>
        <div>
            {{#each education}}
                <div class="mb-3">
                    <b>Degree:</b> {{degree}}
                </div>
                <div class="mb-3">
                    <b>Field:</b> {{field}}
                </div>
                <div class="mb-3">
                    <b>Institution:</b> {{institution}}
                </div>
                <div class="mb-3">
                    <b>Year:</b> {{year}}
                </div>
            {{/each}}
            <div>
                <h3>Notable Publications:</h3>
            </div>
            <div>
                {{#each notable_publications}}
                    <ul>
                        <li><q>{{title}}</q> (year - {{year}})</li>
                        Publisher - <cite>{{publisher}}</cite>
                    </ul>
                {{/each}}
            </div>
            <div><h2>Partners</h2></div>
            <hr>
            <div>
                {{#each partners}}
                    <ul>
                        <li>{{name}} ({{years}})</li>
                        <i>{{relationship}}</i>
                    </ul>
                {{/each}}
            </div>
        </div>
        <div>
            <div>
                <h2>
                    {{#each awards}}
                        <div>
                            Award - <strong>{{title}}</strong>({{year}})
                            <i>{{description}}</i>
                        </div>
                    {{/each}}
                </h2>
            </div>
            <hr>
            <div>
                <h3>Influences</h3>
                {{#each influences}}
                    <ul>
                        <li>{{this}}</li>
                    </ul>
                {{/each}}
            </div>
            <div>
                <h3>Influenced</h3>
                {{#each influenced}}
                    <ul>
                        <li>{{this}}</li>
                    </ul>
                {{/each}}
            </div>
            <div>
                <h3>Quotes</h3>
                {{#each quotes}}
                    <ul>
                        <li><q>{{this}}</q></li>
                    </ul>
                {{/each}}
            </div>
        </div>
        <div class="mt-4">
            <strong>Major discoveries</strong>
            <hr>
            <div>
                {{#each major_discoveries}}
                    <div class="mb-3">
                        <b>{{title}}</b>({{year}})
                    </div>
                    <div><i>{{description}}</i></div>
                {{/each}}
            </div>
        </div>
        <div class="mt-4">
            <strong>Contributions</strong>
            <hr>
            {{#with contributions}}
                <div class="mt-4 mb-3">
                    <b>{{title}}</b> ({{year}})
                </div>
                <div class="mb-3">
                    <i>Field - {{title}}</i>
                </div>
                <div>
                    <i>{{description}}</i>
                </div>
            {{/with}}
        </div>
    </body>
</div>