<div class="m-4">
    {{#with person}}
        <div><h1>{{name}}</h1></div>
        <div>Age: {{age}}</div>
        <div>Gender: {{gender}}</div>
        <div>
            <address>
                {{#with address}}
                 Address: {{street}} {{city}} {{state}} {{zip}} {{country}}
                {{/with}}
            </address>
        </div>
        <hr class="mb-4">
        <div>
            <h2>Education</h2>
            <div>
                <ul>
                    {{#each education}}
                        <li>{{degree}}, {{major}}</li>
                        {{university}}, {{graduationYear}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div>
            <h2>Work experience</h2>
        </div>
        <div>
            {{#each workExperience}}
            <ul>
                <li>{{title}}, {{company}}</li>
                {{startDate}} - {{endDate}}
                <ul class="mt-5">
                    {{#each responsibilities}}
                    <li>{{this}}</li>
                    {{/each}}
                    <div class="mt-4 mb-4">
                        Year founded: {{year_founded}}, {{industry}}
                    </div>
                </ul>
                <div><h3>Employees</h3></div>
                {{#each employees}}
                <ul>
                    <li>{{name}}, {{position}}, {{department}}</li>
                    <div>
                        <h4>Project</h4>
                        {{#each projects}}
                        <ul>
                            <li>{{name}}, {{description}}, {{status}}</li>
                            <div>
                                {{#each teams}}
                                <h5>Teams</h5>
                                <ul>
                                    <li>{{team_name}}</li>
                                    {{#with team_leader}}
                                    <div class="mt-4">Team leader: {{name}}, {{title}}, {{email}}</div>
                                    {{/with}}
                                    <div>
                                        <h5>Team members</h5>
                                        {{#each team_members}}
                                        <ul>
                                            <li>{{name}}, {{title}}, {{email}}</li>
                                            <div class="mt-4">
                                                <div>Skills</div>
                                                <ul>
                                                    {{#each skills}}
                                                    <li>{{this}}</li>
                                                    {{/each}}
                                                </ul>
                                                <div class="mt-4">Projects</div>
                                                <ul>
                                                    {{#each projects}}
                                                    <li>{{name}}, {{description}}</li>
                                                    {{/each}}
                                                    <div class="mt-4">Technologies</div>
                                                    <ul>
                                                        {{#each projects}}
                                                        {{#each technologies}}
                                                        <li>{{this}}</li>
                                                        {{/each}}
                                                        {{/each}}
                                                    </ul>
                                                    <div>Team Members</div>
                                                    <ul>
                                                        {{#each projects}}
                                                        {{#each team_members}}
                                                        <li>{{name}}, {{title}}</li>
                                                        {{/each}}
                                                        {{/each}}
                                                    </ul>
                                                </ul>
                                            </div>
                                        </ul>
                                        {{/each}}
                                    </div>
                                </ul>
                                {{/each}}
                            </div>
                        </ul>
                        {{/each}}
                        
                    </div>
                    
                </ul>
                {{/each}}
            </ul>
           
            {{/each}}
        </div>

    {{/with}}
</div>