<main class="p-4">
    {{#with navigation}}
        <div class="row">
            {{#each links}}
                <div class="col-2">
                    <div class="nav nav-tabs">
                        <div class="nav-item">
                            <a href="{{href}}" class="nav-link">{{text}}</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/with}}
    <div class="row">
        <div class="col-8">
            <div class="mt-4">
                <h1>{{header}}</h1>
            </div>
            {{#with contacts_data}}
                <h2 class="mb-3">{{title}}</h2>
                {{#each buttons}}
                    {{#if isPrimary}}<button class="btn btn-warning">{{text}}</button>{{/if}}
                    {{#if isOutline}}<button class="btn btn-outline-warning">{{text}}</button>{{/if}}
                {{/each}}
                <div>
                    {{#with form}}
                    <div class="row">
                        {{#with input}}
                            {{#with surname}}
                                <div class="mt-2 col-4">
                                    <label class="form-label">{{label}}</label>
                                    <input class="form-control" placeholder="{{placeholder}}">
                                    <div class="form-text">{{caption}}</div>
                                </div>
                            {{/with}}
                            {{#with name}}
                                <div class="mt-2 col-4">
                                    <label class="form-label">{{label}}</label>
                                    <input class="form-control" placeholder="{{placeholder}}">
                                    <div class="form-text">{{caption}}</div>
                                </div>
                            {{/with}}
                            {{#with phone}}
                                <div class="mt-2 col-4">
                                    <label class="form-label">{{label}}</label>
                                    <input class="form-control" placeholder="{{placeholder}}">
                                    <div class="form-text">{{caption}}</div>
                                </div>
                            {{/with}}
                            {{#with email}}
                                <div class="mt-2 col-4">
                                    <label class="form-label">{{label}}</label>
                                    <input class="form-control" placeholder="{{placeholder}}">
                                    <div class="form-text">{{caption}}</div>
                                </div>
                            {{/with}}
                        {{/with}}
                    </div>
                        <hr class="m-4">
                        <div>
                            {{#each switch}}
                                <div class="form-check form-switch">
                                    <label class="form-check-label">{{text}}</label>
                                    <input type="checkbox" class="form-check-input">
                                </div>
                            {{/each}}
                        </div>
                        <hr class="m-4">
                    {{/with}}
                </div>
            {{/with}}
        </div>
        </div>
        <div class="col-4">
            fbsrbs
        </div>  
    </div>
</main>