<div class="m-4">
    <div><h1>List of Web Technologies</h1></div>
    {{#with web}}
    {{#each languages}}
        <ul>
            <li>{{name}} ({{version}})</li>
            <div class="mt-4 mb-4">{{description}}</div>
            {{#if elements}}<div><b>HTML Elements:</b></div>{{/if}}
            {{#each elements}}
            <ul class="mt-4">
                <li>{{name}}: {{description}}</li>
                <div class="mt-4 mb-4"><b>Attributes:</b></div>
                {{#each attributes}}
                <ul>
                    <li><b>{{name}}:</b> {{description}}</li>
                </ul>
                {{/each}}
            </ul>
            {{/each}}
            {{#if properties}}<div><b>CSS Properties:</b></div>{{/if}}
            {{#each properties}}
                <ul class="mt-4">
                    <li><b>{{name}}</b>: {{description}}</li>
                    <div class="mt-4 mb-4">
                        <b>Value:</b>
                        {{#each values}}
                            <ul>
                                <li><b>{{value}}:</b> {{description}}</li>
                            </ul>
                        {{/each}}
                    </div>
                </ul>
            {{/each}}
            {{#if functions}}<div><b>JS Functions:</b></div>{{/if}}
            {{#each functions}}
                <ul class="mt-4">
                    <li><b>{{name}}:</b> {{description}}</li>
                    <div class="mt-4 mb-4">
                        <b>Parameters:</b>
                        {{#each parameters}}
                            <ul>
                                <li>{{name}}: {{type}}</li>
                                <div><i>{{description}}</i></div>
                            </ul>
                        {{/each}}
                    </div>
                </ul>
            {{/each}}
        </ul>
        
    {{/each}}
    {{/with}}
</div>